name: CI Pull Request Pipeline

on:
  pull_request:

permissions:
  contents: read  # least privilege

jobs:
  verify_backend:
    name: Verify Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK 9.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Build Backend
        run: dotnet build -c Release
        working-directory: ./backend

  verify_frontend:
    name: Verify Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build Frontend
        run: npm run build
        working-directory: ./frontend

      - name: Run Lints
        run: npm run lint
        working-directory: ./frontend
