name: CD Pipeline

on:
  workflow_run:
    workflows:
      - CI Release Pipeline
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-artifact
          path: deploy/frontend

      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-artifact
          path: deploy/backend

      - name: Deploy frontend
        run: ls deploy/frontend

      - name: Deploy backend
        run: ls deploy/backend
